<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <fileExtensions>
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".jpeg" allowed="true" />
                </fileExtensions>
                <alwaysAllowedUrls>
                    <add url="/192.168.18.3/documentos/img-usuario/" />
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
